In [1]:
import pandas as pd

In [2]:
files = [f'../data/train_128_feather/train_{i}.feather' for i in range(4)]
df = pd.read_csv('../data/train.csv')
data = pd.read_feather(files[0])
data = df.merge(data, on='image_id', how='inner')

In [3]:
data.head()

,image_id,grapheme_root,vowel_diacritic,consonant_diacritic,grapheme,0,1,2,3,4,...,16374,16375,16376,16377,16378,16379,16380,16381,16382,16383
0,Train_0,15,9,5,ক্ট্রো,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Train_1,159,0,0,হ,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Train_2,22,3,5,খ্রী,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Train_3,53,2,2,র্টি,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Train_4,71,9,5,থ্রো,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
from iterstrat.ml_stratifiers import MultilabelStratifiedShuffleSplit
import numpy as np

In [18]:
print(data.shape)
msss = MultilabelStratifiedShuffleSplit(n_splits=1, test_size=0.2, random_state=42)
y = data.iloc[:, 1:4]
for train_index, test_index in msss.split(data, y):
    train, test = data.iloc[train_index, :], data.iloc[test_index, :]
print(train.shape)    
print(test.shape)

(50210, 16389)
(40168, 16389)
(10042, 16389)

In [19]:
train.head()

,image_id,grapheme_root,vowel_diacritic,consonant_diacritic,grapheme,0,1,2,3,4,...,16374,16375,16376,16377,16378,16379,16380,16381,16382,16383
0,Train_0,15,9,5,ক্ট্রো,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Train_1,159,0,0,হ,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Train_3,53,2,2,র্টি,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Train_4,71,9,5,থ্রো,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,Train_6,52,2,0,ঞ্জি,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [20]:
test.head()

,image_id,grapheme_root,vowel_diacritic,consonant_diacritic,grapheme,0,1,2,3,4,...,16374,16375,16376,16377,16378,16379,16380,16381,16382,16383
2,Train_2,22,3,5,খ্রী,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,Train_5,153,9,0,স্পো,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,Train_10,115,1,2,র্মা,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,Train_12,74,1,2,র্দ্দা,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,Train_16,13,3,2,র্কী,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0